

.popularRestaurantsContainer {
  padding: 40px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.sectionLabel {
  width: 100%;
  max-width: 1200px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 18px; 
  color: var(--black);
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  text-align: center;
  margin-bottom: 24px;
}

.cardsWrapper {
  display: flex; 
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  overflow-x: auto; 
  padding: 20px 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
}

.cardsWrapper::-webkit-scrollbar {
  display: none;
}

.allRestaurantsButton {
  align-self: flex-start;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .popularRestaurantsContainer { padding-top: 80px; }
  .sectionLabel { font-size: 30px; margin-bottom: 40px; }
  .cardsWrapper { 
    justify-content: flex-start; 
    overflow-x: auto; 
    gap: 32px;
   }
  .allRestaurantsButton { align-self: flex-end; font-size: 24px;margin-right: 40px; 
        padding-left: 0; }
}