
.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: var(--light-beige);
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  min-height: 480px;
}

.cardImage {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  align-items: flex-start;
}

.cardTitle {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.cardIngredients {
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Helvetica Neue", sans-serif;
  width: 100%;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 1.97px;
}

.iconContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  height: 24px;
}

.dishIcon {
  width: 30px;
  height: 24px;
  object-fit: contain;
}

.footer {
  width: 100%;
  margin-top: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.footer::before {
  content: none;
}

.price {
  
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 2;
  background-color: var(--light-beige);
  padding: 0 10px;
}

@media (min-width: 1024px) {
  .card {
    width: 380px;
    text-align: center;
    align-items: center;
  }

  .cardImage {
    height: 306px;
  }

  .cardContent {
    padding: 24px;
    align-items: center;
  }

  .cardTitle {
    font-size: 40px;
  }

  .cardIngredients {
    font-size: 24px;
    font-weight: 200;
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer {
    padding-top: 10px;
    justify-content: center;
    position: relative;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 200;
    
  }

  .footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: #979797;
    z-index: 1;
  }

  .price {
    font-size: 20px;
    background-color: var(--light-beige);
    padding: 0 10px;
    z-index: 2;
  }
}