
.card {
  display: flex;
  flex-direction: column;
  width: 280px; 
  background-color: var(--light-beige);
  flex-shrink: 0;
}

.cardImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.cardTitle {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
}

.cardChef {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.star {
  width: 25px;
  height: 25px;
}

@media (min-width: 1024px) {
  .card { width: 379px; }
  .cardImage { height: 236px; }
  .cardTitle { font-size: 40px; }
  .cardChef { font-size: 24px; }
  .star { width: 40px; height: 40px; }
}