

.container {
  background-color: var(--off-white);
  padding: 40px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  gap: 32px;
}

.desktopTextGroup {
  display: contents; 
}

.logoSide {
  order: 1; 
  display: flex;
  justify-content: flex-start;
}

.bigLogo {
  width: 102px;
  height: auto;
}

.buttonContainer {
  order: 2; 
  display: flex;
  flex-direction: column; 
  gap: 16px;
  align-items: flex-start;
}

.storeButton {
  height: 35px;
  width: auto;
  object-fit: contain;
}

.textSide {
  order: 3; 
}

.title {

  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.description {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 200;
  margin-bottom: 20px;
}


@media (min-width: 1024px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 80px;
  }

  .desktopTextGroup {
    display: flex; 
    flex-direction: column;
    order: 1;
    flex: 1;
    max-width: 600px;
  }

  .textSide {
    order: unset; 
  }

  .title {
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 24px;
    letter-spacing: 2px;
  }

  .description {
    font-size: 20px;
    line-height: 1.5;
  }

  .buttonContainer {
    order: unset; 
    flex-direction: row; 
    height: 52px;
    margin-top: 10px;
  }

  .logoSide {
    order: 2; 
    margin-top: 80px;
  }

  .bigLogo {
    width: 178px;
  }
}