.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px; 
    width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0; 
    
    background-color: var(--off-white);
    
}

.title {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 2.14px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.iconsWrapper {
    padding-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;

}

.iconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}

.iconImg {
    width: 77.42px;
    height: 60px;
    object-fit: contain;
}

.iconLabel {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 1.97px;
    text-align: center;

}