
 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px; 
    width: 100%;
    padding: 40px 20px; 
    background-color: var(--off-white);
}

.title {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px; 
    font-weight: 200;
    letter-spacing: 1.25px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.iconsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.iconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex: 1 1 100px; 
   
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}


.iconItem:hover {
    transform: scale(1.1); 
}

.iconImg {
    width: 50px;
    height: auto;
    object-fit: contain;
    
    transition: filter 0.3s ease;
}


.iconItem:hover .iconImg {
    filter: brightness(1.2);
}

.iconLabel {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px; 
    font-weight: 200;
    line-height: 1.2;
    text-align: center;
    transition: font-weight 0.2s ease;
}


.iconItem:hover .iconLabel {
    font-weight: 400;
}

@media (min-width: 1024px) {
    .container { margin-top: 120px; padding: 60px 0; }
    .title { font-size: 30px; letter-spacing: 2.14px; }
    .iconsWrapper { 
        gap: 60px;
        flex-direction: row;
        padding-top: 40px; 
        flex-wrap: nowrap; 
    }
    .iconImg { width: 77px; }
    .iconLabel { font-size: 24px; letter-spacing: 1.97px; }
}








 