.card {
  display: flex;
  flex-direction: column;
  width: 245px; 
  background-color: #F9F9F9;
  flex-shrink: 0; 
}

.cardImage {
  width: 100%;
  height: 152px;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 100px;
}

.cardTitle {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin: 0;
}

.cardSubtitle {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

.extraInfo {
  margin-top: auto;
  
}

@media (min-width: 1024px) {
  .card {
    width: 384px; 
  }
  
  .cardImage {
    height: 226px;
  }
}