.signatureDishContainer{
 padding-top: 80px;
    width: 380px;
    height: auto;
    gap: 40px;
    top: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
    margin: 0 auto;

}

.sectionLabel{
width: 1440px;
  height: 35px;
  top:367px;
  left: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: var(--black);
  line-height: 35px;
    text-transform: uppercase;
  letter-spacing: 1.25px;
  text-align: center;
}


.cardsWrapper {
    width: 1185px;
    height: 480px;
  display: flex; 
  justify-content: center;
  padding: 20px 40px 40px 40px;
  gap: 32px;
  width: 100%;
  align-items: center;

}


