.headerContainer {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid var(--off-white);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--off-white);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
 /* max-width: 100%;
  margin: 0 auto;*/
}


.leftSection, .logoSection, .rightSection {
  flex: 1;
  display: flex;
  align-items: center;
}

.logoSection {
  justify-content: center;
}

.rightSection {
  justify-content: flex-end;
  gap: 20px;
}
.iconBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 24px;
  width: auto;
}

.icon {
  width: 20px;
  height: 20px;
}

.hamburgerBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.mobileMenu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1001;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  align-self: flex-start;
  background: none;
  border: none;
  font-size: 24px;
  margin-bottom: 40px;
  cursor: pointer;
}

.mobileMenu nav ul {
  list-style: none;
  padding: 0;
}

.mobileMenu nav li {
  color: var(--black);
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 24px;
  letter-spacing: 1.92px;
}


@media (min-width: 768px) {
  .hamburgerBtn {
    display: none; 
  }

  .headerContainer {
    padding: 20px 40px;
  }

  .logo {
    height: 32px;
  }
}