
 .container {
  background-color: #ffffff;
  padding: 40px 20px;
  border-top: 1px solid #f2f2f2;
  width: 100%;
}

.linkList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  gap: 24px; 
}

.link {
  font-family: "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.92px;
}

.link:hover {
  color: #979797; 
}


@media (min-width: 1024px) {
  .container {
    padding: 40px 0;
  }

  .linkList {
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 40px; 
  }
}